h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    text-decoration: none;
    line-height: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #e2d3ce;
}

.container {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 165px;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 97%;
    text-align: center;
    color: #0c0b10;
    font-family: 'Forum';
}

.subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 99%;
    font-family: 'Forum';
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    display: flex;
}

.header {
    flex: 0 0 auto;
    position: absolute;
    width: 100vw;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 10000;
    margin-top: 24px;
    display: flex;

    &__row {
        padding: 0 46px;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
    }

    &__menu {
        gap: 40px;
        display: flex;
        
    }

    &__nav {
        display: flex;
        margin-left: 178px;
        margin-right: auto;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000;
        font-family: 'Forum';
    }

    &__button {
        position: relative;
        margin-left: auto;
        margin-right: 0;
        padding: 10px 23.5px;
        box-sizing: border-box;

        &-border {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-top {
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
        }

        &-bottom {
            position: absolute;
            left: 50%;
            top: 37.6px;
            transform: translateX(-50%);
        }

        & span {
            text-align: center;
        }
    }
}

.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.info {
    background: url('../image/info/info__fon-1.jpg');
    background-repeat: no-repeat;
    height: 1041px;
    margin-top: -42px;
    overflow: hidden;
    position: relative;
    background-size: contain;

    &__row {
        flex-direction: column;
        align-items: center;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 351px;
        background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #e2d3ce 100%);
        z-index: 60;
      }

    &__img {
        &-2 {
            position: absolute;
            bottom: 0px;
            z-index: 10;
        }

        &-3 {
            position: absolute;
            bottom: 0px;
            z-index: 20;
        }

        &-4 {
            position: absolute;
            bottom: 0px;
            z-index: 30;
        }

        &-5 {
            position: absolute;
            top: 685px;
            z-index: 40;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 99%;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Forum';
        color: #0c0b10;
        margin-top: 170px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-top: 64px;

        &-top {
            font-weight: 400;
            font-size: 197px;
            line-height: 65%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            text-align: center;
            color: #fcfcfc;
            z-index: 15;
            margin-bottom: -3px;
            font-family: 'Forum';
        }

        &-bottom {
            font-weight: 400;
            font-size: 141px;
            line-height: 100%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            text-align: center;
            color: #fcfcfc;
            z-index: 25;
            font-family: 'Forum';
        }
    }

    &__pins {
        position: absolute;
        top: 422px;
        left: 72px;
        z-index: 100;
        fill: rgba(255, 255, 255, 0.31);
    }

    &__journey {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        padding: 22px 26px 22px 37px;
        box-sizing: border-box;
        z-index: 80;
        margin-top: -25px;
        display: flex;

        &-topSVG {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -26px;
        }

        &-border {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 3px;
        }

        &-container {
            position: relative;
            padding: 13.5px 46px;
            background: #fff;
            box-sizing: border-box;
            border-radius: 67px;
            z-index: 100;
            margin-top: 49px;

            & span {
                font-weight: 400;
                font-size: 25px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                text-align: center;
                font-family: 'Forum';
                color: #79655e;
            }
        }

        &-top {
            display: flex;
            
            align-items: center;

            & span {
                font-weight: 300;
                font-size: 18px;
                font-family: 'Manrope';
                color: #79655e;
            }
        }

        &-bottom {
            font-weight: 500;
            font-size: 18px;
            font-family: 'Manrope';
            color: #0c0b10;
        }

        &-find {
            display: flex;
            border-radius: 121px;
            background-color: #0c0b10;
            padding: 22px 23.5px;
            box-sizing: border-box;
            gap: 8px;
            align-items: center;
            margin-right: 0;
            margin-left: auto;

            & span {
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                font-family: 'Forum';
            }
        }

        &-left {
            margin-top: 3.5px;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }

        &-travellers {
            display: flex;
            gap: 8px;
            margin: 14px 0 8px 0;
        }

        &-data {
            display: flex;
            gap: 8px;
            margin: 14px 58px 8px 0;
        }

        &-destination {
            display: flex;
            gap: 8px;
            margin: 14px 134px 8px 0;
        }

        &-type {
            display: flex;
            gap: 8px;
            margin: 14px 71px 8px 0;
        }
    }
}   

.rated {
    margin-top: -33px;
    overflow: hidden;

    &__row {
        flex-direction: column;
    }

    &__title {
        z-index: 100;
        position: relative;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        
        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__container {
        padding: 0 0 0 165px;
    }

    &__nav {
        margin-left: 250px;
        margin-top: 58px;
        margin-bottom: 23px;
    }

    &__menu {
        display: flex;
        gap: 36.5px;
        
        &-button {
            display: flex;
            flex-direction: column;
            align-items: center;

            & span {
                font-weight: 400;
                font-size: 24px;
                line-height: 99%;
                color: #79655e;
                font-family: 'Forum';
            }

            & svg {
                display: none;
            }

            &.active {
                & span {
                    color: #0c0b10;
                }

                & svg {
                    display: block;
                }
            }
        }
    }

    &__swiper {
        margin-left: 165px !important;
        position: relative;
        overflow: hidden;

        &-slide {
            width: 350px !important;
            min-width: 350px;
            height: 570px;
            padding: 35px;
            box-sizing: border-box;
            justify-content: space-between;
        }

        &-button {
            position: absolute;
            top: 222px;
            right: 261px;
        }
    }

    &__austria {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b2034 100%), url('../image/rated/rated__austria.jpg');
        background-size: 100% 335px, cover;
        background-position: bottom, center;
        background-repeat: no-repeat, no-repeat;
    }

    &__peru {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b2034 100%), url('../image/rated/rated__peru.jpg');
        background-size: 100% 335px, cover;
        background-position: bottom, center;
        background-repeat: no-repeat, no-repeat;
    }

    &__croatia {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b2034 100%), url('../image/rated/rated__croatia.jpg');
        background-size: 100% 335px, cover;
        background-position: bottom, center;
        background-repeat: no-repeat, no-repeat;
    }

    &__jordan {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b2034 100%), url('../image/rated/rated__jordan.jpg');
        background-size: 100% 335px, cover;
        background-position: bottom, center;
        background-repeat: no-repeat, no-repeat;
    }

    &__left {
        text-align: left;

        &-country {
            align-items: center;
            display: flex;
            gap: 5px;

            & span {
                font-weight: 500;
                font-size: 12px;
                color: #fff;
                font-family: 'Manrope';
            }
        }

        &-price {
            margin-top: 30px;
            display: flex;
            gap: 22px;

            &-12 {
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
                font-family: 'Manrope';
            }

            &-24 {
                font-weight: 400;
                font-size: 24px;
                line-height: 99%;
                font-family: 'Forum';
                color: #fff;
            }
        }

        &-button {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            font-family: 'Forum';
            border: 0.62px solid #fff;
            border-radius: 61px;
            padding: 10px 28px;
            box-sizing: border-box;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;

        & span {
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Manrope';
            color: #fff;
            display: flex;
            margin-bottom: 5px;
        }

        & svg:not(:last-child) {
            margin-bottom: 2px;
        }
    }
}